<div id="content" class="donate">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
          <h3>
            If you enjoyed this app
            <br>
            and want to contribute
            so that we can improve it,
          </h3>

          <h4>choose one of the following donations:</h4>
          <h5>For those who are in Brazil</h5>
          <span class="brazil-donations">
            <a target="_blank" href="https://go.gerencianet.com.br/#/cobranca/pagar/44edc65ebcc8583cbd40d24cfbdf323be339015f" class="btn btn-lg btn-success">Donate R$ 10,00</a>
            <a target="_blank" href="https://go.gerencianet.com.br/#/cobranca/pagar/1e646a4aa4407e7e5a4ef051b7ef4d784b42aa8f" class="btn btn-lg btn-success">Donate R$ 20,00</a>
            <a target="_blank" href="https://go.gerencianet.com.br/#/cobranca/pagar/a552cc5fd386c66f51b0054a41b23c2a3ca4da0f" class="btn btn-lg btn-success">Donate R$ 50,00</a>
            <a target="_blank" href="https://go.gerencianet.com.br/#/cobranca/pagar/de3fa014253b895126c737b8810cf3a7bd45e5de" class="btn btn-lg btn-success">Donate R$ 70,00</a>
            <a target="_blank" href="https://go.gerencianet.com.br/#/cobranca/pagar/e830d41fa5325172b30e81b7e797d3151e72a521" class="btn btn-lg btn-success">Donate R$ 100,00</a>
            <a target="_blank" href="https://go.gerencianet.com.br/#/cobranca/pagar/aa4e4218822903b461c4120c7bb26b72aebaafe2" class="btn btn-lg btn-success">Donate R$ 500,00</a>
          </span>

          <h5>For other countries and/or other values</h5>

          <span class="other-donations">
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="hosted_button_id" value="TQ9SWA7TTNSKA">
              <input type="submit" class="btn btn-lg btn-warning" value="Donate">
            </form>
          </span>
      </div>
    </div>
  </div>
</div>


