<!doctype html>
<html>
  <head>
    <title>Postiter Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <style> body { padding-top:80px; }</style>
  </head>
  <body>
    <div class="container">
      <a href="https://github.com/franciscotfmc/postiter" target="_blank">
      <img class="fork-me" src="images/fork.png" alt="Fork me on GitHub">
      </a>

      <div class="landing-page">
        <div class="site-wrapper">
          <div class="site-wrapper-inner">
            <div class="cover-container">
              <div class="masthead clearfix">
                <div class="inner">
                  <h3 class="masthead-brand">postiter</h3>
                </div>
              </div>
              <div class="inner cover">
                <h1 class="cover-heading">Easy real time board</h1>
                <p class="lead">
                  Use it, fork it, share it, improve it!
                </p>
                <p class="lead login">
                  Login with
                  <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
                </p>
              </div>

              <div class="mastfoot">
                <div class="inner">
                  <p>A simple app and proof of concept, by <a href="https://github.com/franciscotfmc" targe="_blank">@franciscotfmc</a>.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
