$icon-font-path: "/bower_components/sass-bootstrap/fonts/";
$navbar-border-radius: 0px;
$container-lg: 100%;
$container-md: 100%;
$font-family-sans-serif: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

$blue: #272d33;
$blue-1: #1D61B8;
$green: #cfc;
$transparent: rgba(255, 255, 255, 0.29);
$purple: #ccf;
$yellow: #ffc;
$red: #ebc3c4;
$gray: #e7e7e7;
$gray-0: #f3f3f3;
$gray-1: #929598;
$gray-2: #5d5d5c;
$orange: #f36c3d;
$black: #222222;
$black-1: #232323;
$black-2: #171717;

$navbar-inverse-bg: $black-2;

$input-border-radius: 0;
$input-color: black;

$navbar-inverse-border: 0;
$navbar-inverse-link-active-bg: $blue-1;
$navbar-inverse-link-hover-bg: $blue-1;

$border-radius-base: 0;
$border-radius-large: 0;
$border-radius-small: 0;

$text-color: white;
